body{
  height: 100% !important;
}

.code-viewer {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 120px);
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.repo-content-header{
  display: flex;
  flex-direction: row;
}

.repo-files {
  background-color: white;
  border: 1px solid rgb(209 213 219);
  border-radius: .5rem;
  overflow: hidden;
}

.branch-counter{
  cursor: pointer;

  &:hover, &:hover svg {
    color: rgb(37 99 235);
  }
}